* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #efe8f7;
    line-height: 1.7;
}

.container {
  
    max-width: 800px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 12px;
    background: url('https://i.pinimg.com/originals/d8/79/6c/d8796cb164bfae03d2d972c8ed71fd50.jpg') no-repeat center center/cover;
    background-size: contain;

    background-repeat: no-repeat;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

    min-height: 660px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin-bottom: 30px;
}

.header h2 {
    font-size: 2.1rem;
    color: rgb(99, 215, 231);
    margin-bottom: 10px;
}

.header h1 {
    font-size: 2.5rem;
    color: rgb(48, 148, 176);
}



.date h2,
.time h2,
.venue h2 {
    margin: 20px 0;
    font-size: 1.7rem;
    color: rgb(51, 145, 146);
}